body {
  background-color: #dddddd;
}

.container {
  background-color: #285fbd;
  margin-top: 30px;
}

.jumbotron {
  background-color: #fffdd3;
}

h1 {
  color: white;
}

.question {
  display: none;
}

#finished-button {
  display: none;
}

#result {
  display: none;
}

.container {
  text-align: center;
}

h3 {
  margin-top: -25px;
}

hr {
  margin-bottom: 50px;
}

img {
  height: 100%;
  max-width: 100%;
  padding: 20px;
}

.btns {
  max-width: 800px;
  margin-top: 30px;
  background-color: #bab9a0;
  padding: 30px;
  box-shadow: 8px 8px 5px #888888;
}

.btns hr {
  margin-bottom: 0px;
}

button {
  margin-top: 30px;
}

label {
  width: 180px;
  font-size: 16px;
}

.pic {
  max-width: 800px;
  height: 500px;
  background-color: #bab9a0;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 8px 8px 5px #888888;
}

@media (max-width: 767px) {
  .pic {
    width: auto;
    height: auto;
  }
  img {
    height: auto;
    max-height: 100%;
  }
}
